<article class="flex{% if todo.is_done %} bg-green-300{% endif %}">
    <div class="w-4/5 py-3">
        <p 
            class="px-6 text-xs text-gray-900"
            hx-get="/edit/{{ todo.id }}/"
            hx-target="this"
            hx-swap="outerHTML"
        >
            {{ todo.title }}
        </p>
    </div>

    <div class="w-1/5 px-6 py-3 flex justify-end space-x-4">
        {% if not todo.is_done %}
            <form
                hx-put="/update/{{ todo.id }}/"
                hx-target="closest article"
                hx-swap="outerHTML"
            >
                <button class="text-sky-600 hover:text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>Done
                </button>
            </form>
        {% endif %}

        <a 
            href="#" 
            class="text-sky-600 hover:text-red-500"
            hx-confirm="Are you sure?"
            hx-target="closest article"
            hx-swap="outerHTML swap:1s"
            hx-delete="/delete/{{ todo.id }}/"
        >
        <svg text-align="center" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>Delete
        </a>
    </div>
</article>